@*@{
    ViewData["Title"] = "An Error Occured";
}


<h1 class="text-center alert alert-danger"> @ViewBag.ErrorMessage </h1>
<a class="btn btn-primary" href="/">Go to Homepage</a>*@
    <p>uiioioioiio</p>